###############################################################################
# Filename: /etc/modprobe.d/blacklist.conf
# Summary: RHEL 9 STIG Kernel Module Blacklist
# Severity: CAT II / CAT III
# Last Updated: 23 Jan 2026
# Classification: UNCLASSIFIED
#
# This file is managed by Ansible. Manual changes will be overwritten.
###############################################################################
{% for module in rhel9_rke2_stig_blacklist_modules %}
###########################################################
# STIG-ID: {{ module.stig_id }}    Group ID: {{ module.group_id }}
# Rule Title: {{ module.rule_title }}
# Severity: {{ module.severity }}
###########################################################
install {{ module.module_name }} /bin/false
blacklist {{ module.module_name }}

{% endfor %}
